:root {
  /* Mobile */
  --content-width: 90vw;
}

.cloud {
  max-width: 200px;
}

.cloud1 {
  visibility: hidden;
}

.cloud2 {
  visibility: hidden;
}

.cloud3 { 
  visibility: hidden;
}

.cloud4 { 
  visibility: hidden;
}

.cloud5 { 
  visibility: hidden;
}

.cloud6 { 
  visibility: hidden;
}

.social-container {
  position: relative;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  /* Desktop */
  :root {
    --content-width: 40vw;
  }
  .social-container {
    position: absolute;
    bottom: 0;
    justify-content: flex-end;
  }

  .cloud {
    max-width: 300px;
  }

  .cloud1 {
    visibility: visible;
  }
  
  .cloud2 {
    visibility: visible;
  }
  
  .cloud3 { 
    visibility: visible;
  }
  
  .cloud4 { 
    visibility: visible;
  }
  
  .cloud5 { 
    visibility: visible;
  }
  
  .cloud6 { 
    visibility: visible;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  /* Tablets */
  :root {
    --content-width: 60vw;
  }
  .social-container {
    position: relative;
    justify-content: center;
  }

  .cloud1 {
    visibility: visible;
  }
  
  .cloud2 {
    visibility: visible;
  }
  
  .cloud3 { 
    visibility: visible;
  }
  
  .cloud4 { 
    visibility: visible;
  }
  
  .cloud5 { 
    visibility: visible;
  }
  
  .cloud6 { 
    visibility: visible;
  }
}

.content-container {
  width: var(--content-width);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
