:root {
  /* Mobile */
  --content-width: 90vw;
  --min-width-sign: 200px;
}

@media screen and (min-width: 800px) {
  /* Desktop */
  :root {
    --content-width: 40vw;
    --min-width-sign: 600px;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  /* Tablets */
  :root {
    --content-width: 60vw;
    --min-width-sign: 400px;
  }
}

.content-container {
  width: var(--content-width);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
